@charset "utf-8";
/* CSS Document */
.ClassChar1{
	width: 600px;
	height: 50px;
	position: absolute;
	left: 1200px;
	top: 300px;
	font-family: "Noto Sans S Chinese Black";
	font-style: italic;
	font-size: 36px;
	color: #9B21D9;
	font-weight: bold;
	text-align: center;
}
.ClassChar2{
	width: 600px;
	height: 50px;
	position: absolute;
	left: 1300px;
	top: 360px;
	font-family: "Noto Sans S Chinese Black";
	font-style: italic;
	font-size: 36px;
	color: #9B21D9;
	font-weight: bold;
	text-align: center;
}
.ClassChar3{
	font-family: "Noto Sans S Chinese Medium";
	font-style: normal;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
}
.ClassChar4{
	font-family: "Noto Sans S Chinese Medium";
	font-style: italic;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
}
.ClassCenter{
	margin:0 auto;
}